@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Nunito Sans', sans-serif;
}

.navbar{
height: 114px;
border: none;
background: white;
}
#navbarNavAltMarkup{
    margin-left: 130px;
}
#navbarNavAltMarkup a {
    color: black;
    font-size: 22px;
}
#navbarNavAltMarkup a:hover{
    color: #CE0033;
}
@media screen and (max-width: 900px) {
   body{
       margin-right: 5px;
     

   }
    #navbarNavAltMarkup{
        background: white;
        width: 100%;
    }
    #trait::before{
        width: 0px;
        height: 0px;
        visibility: hidden;
    }

  }
#trait::before{
    position: absolute;
    left: 2;
    top: 4em;
    height: 0;
    width: 80px;
    content: "";
    border-top: 6px solid #CE0033;

}
.logo{
    width: 180px; 
    height: 49px;
    margin-left: 50px;
}
.loupe{
    width: 20px;
}
.btn-contact{
    border: 1px solid #FFFFFF; 
    border-radius: 10px; 
    background: #Ce0033; 
    color: white; 
    width: 80px; 
    height: 40px;
    margin-top: 10px;
    
}
nav h2{
    color: white;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding-top: 40px;
}
/* ------------Bande Rouge------------- */
#bande-rouge{
    background: #CE0033; 
    height: 144px; 
    width: 100%;
}
/* Apprenant */
.apprenant{
    margin-left: 30px ;
    margin-right: 30px ;
}
.apprenant h2{
    color: #CE0033; 
    margin-left: 20px; 
    margin-top: 30px;
    font-size: 40px;
}
h3{
    padding-left: 25px;
    text-align: left;
    font-size: 1em; 
    font-weight: bold;
    font-size: 28px;
} 
.row{
    margin: 20px;
    margin-top: 80px;
}
.cercle{
    background-color:#CE0033;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    font-style: bold;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
    width: 55px;
    margin-top: -60px;
    border-radius: 50%;
    margin-left: 40%;
    
}
.cercle-blanc{
    background-color: white;
    border : solid 1px;
    color: #CE0033;
    border-color: #CE0033;
    padding: 13px;
    text-align: center;
    font-style: bold;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
    width: 55px;
    margin-top: -60px;
    border-radius: 50%;
    margin-left: 40%;   
}
hr{
    margin-left: 50%;
    width: 80%;
    height: 5px;
}
.barre{
    width: 70px;
    height: 8px;
    background: #CE0033;
    margin-left: 26px;
    margin-top: -4px;
}
.col-lg-3 h3{
    color: #CE0033;
    text-align: center;
    padding-right: 30px;
    padding-top: 20px;
      
}
.col-lg-3 span{
    margin-top: -4px;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    line-height: 2;
}
.column2{
    opacity: 0.3;
}
.column3{
    opacity: 0.3;
}
.column4{
    opacity: 0.3;
}
#barre-entre-chiffre{
    background: #CE0033;
    width: 100%;
    

}
@media screen and (max-width: 900px) {
    .apprenant h2{
        margin-left: 2px;
        margin-right: 2px;
    }
    .apprenant h3{
        margin-left: -20px;
        margin-right: 2px;
    }
    .apprenant .row{
        margin:auto;
    }
    .col-lg-3 span{
       width: 100%;
    }
    .cercle{
        margin-top: 20px;  
    }
    .cercle-blanc{
        margin-top: 20px; 
    }
  }
/* Appel à une candidature */
.candidature .card{
    border: none;
   /*  margin-left: 30px;
   
    max-width: 900px; */
}

.candidature .card-text{
    line-height: 2;
    font-size: 20px;
    
}
.candidature h3{
    margin-left: 30px;
}
.candidature h5{
    /* text-align: center; */
    color: #CE0033;
    font-size: 30px;
}
.candidature span{
    color: #CE0033;
}
.candidature button{
    border: 1px solid #CE0033; 
    border-radius: 10px; 
    background: #Ce0033; 
    color: white; 
    width: 130px; 
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    
}
.candidature .barre{
    margin-left: 55px;
}

@media screen and (max-width: 1900px) {
    .candidature .card{
        margin-top: 0px;
        width: 100%;
        margin-left: 5px;
    }
    .candidature .card-body{
        width: 100%;
        margin-left: 13px;
        margin-right: 5px;
    }
    .candidature .card-text{
        margin-left: -40px;
        margin-right: -20px;
        flex-wrap: wrap;
    
        
    }
    .candidature .card-title{
        font-weight: bold;
        font-size: 20px;
        margin-left: -50px;
    }
    .candidature h3{
      
    }
    .candidature button{
        margin-left: -39px;
        
    }
  }
/*---------- Formateur------------- */
.formateur{
    
}
.formateur h2{
    color: #CE0033; 
    margin-left: 40px; 
    margin-top: 30px;
    font-size: 40px;
}
.formateur h3{
    margin-left: 15px;
}
.formateur .barre{
    margin-left: 38px;
}
.formateur img{
    width: 100%;
    
}
.formateur .row{
    margin-top: -500px;
    
}
.formateur .card-title{
    color: white;
    font-weight: bold;
    margin-left: 160px;
    font-size: 24px;
}
.formateur p{
    color: white;
    line-height: 2;
    margin-left: 50px;
    font-size: 20px;
}
.formateur button{
    border: 1px solid #CE0033; 
    border-radius: 10px; 
    background: white; 
    color: #Ce0033; 
    width: 150px; 
    height: 50px;
    margin-left: 30%;
}
.formateur button:hover{
    border: 1px solid #FFFFFF; 
    border-radius: 10px; 
    background: #CE0033; 
    color: #FFFFFF; 
    width: 150px; 
    height: 50px;
    margin-left: 30%;
}
@media screen and (max-width: 900px) and (max-width:1200px) {
    .formateur h2{
        font-weight: bold;
        margin-left: 2px;
        margin-right: 2px;
        font-size: 40px;
    }
    .formateur .card-title{
        text-align: center;
    }
    .formateur .card-body{
        margin-top: 500px;
        width: 100%;
        margin-right: -40px;
        margin-left: 10px;
        list-style: 0.3;
        background-color: #CE0033;
    }
    .formateur .card-body h5{
        margin-left: 28px;
    }
    .formateur .card-body p{
        margin-left: 5px;
        margin-right: 2px;
        width: 100%; 
    }
    .formateur img{
        width: 0;
        height: 0;
    }
  }
/* ----------Entreprise---------- */
.entreprise h2{
    color: #CE0033; 
    margin-left: 35px; 
    margin-top: 90px;
    font-size: 40px;
    font-weight: bold;
}
.entreprise .barre{
    margin-top: -40px;
    margin-left: 30px;
}
.entreprise .col-md-6 h3{
    font-weight: bold;
    font-size: 28px;
    margin-left: -30px;
} 
.entreprise .card-body h3{
    color: #CE0033;
    font-size: 18px;
    text-align: center;
    
}
.entreprise .card-body h4{
    text-align: center;
}
.entreprise .row .form-control{
    width: 50%;
    height: 60px;
    margin-left: 45%;
}
.entreprise .owl-carousel .card{
    height: 600px;
}
.entreprise .reseaux-sociaux{
    margin-left: 160px;
}
.entreprise .reseaux-sociaux i{
    width: 40px;
    padding-top: 30px;
    
}
@media screen and (max-width: 900px) {
    .entreprise .card-body h3{
        margin-left: 2px;
    }
    .entreprise .row{
        margin-top: 100px;
    }
    .entreprise h2{
        color: #CE0033; 
        margin-left: 35px; 
        margin-top: 20px;
        font-size: 40px;
        font-weight: bold;
    }
    .entreprise .barre{
        margin-top: -110px;
        margin-left: 30px;
    }
    .entreprise .col-md-6 h3{
        font-weight: bold;
        font-size: 28px;
        margin-left: -30px;
        margin-top: -75px;
    } 
    .entreprise .row .form-control{
        width: 100%;
        margin-left: 0px;
    }
    .entreprise .reseaux-sociaux{
        margin-left: 100px;
    }
    .entreprise .owl-carousel .card{
        height: 450px;
    }
  }
/* ------ CSS Partie Offre-------- */
.offre h3{
    font-weight: bold;
    font-size: 28px;
    margin-left: 14px;
}
.offre .barre{
    margin-left: 40px;
}
.offre p{
    padding-top: 20px;
    margin-left: 38px;
    margin-right: 30px;
    line-height: 2;
    font-size: 20px;
}
.offre h2{
    color: #CE0033;
    font-weight: bold;
    margin-left: 55%;
}
.offre .form-group input{
    box-shadow: 10px black;
}
@media screen and (max-width: 900px) {
    .offre h2{
        margin-left: 18px;
        font-size: 20px;
        text-align: center;
    }
    .offre p{
        margin-left: 30px;
    }
  }
.offre img{
    width: 100%;
}
.offre .row{
    margin-top: 0px;
}
.offre .card{
    border: none;
}
.offre .col-md{
    padding-top: 10px;
}
.offre input{
    height: 50px;
    box-shadow:10px ;
}

.offre #texterea{
    width: 100%;
    height: 150px;
}
.offre #exampleCheck1{
    height: 16px;
}
.offre .envoyeroffre{
    border: 1px solid #CE0033; 
    border-radius: 10px; 
    background: #CE0033; 
    color: #FFFFFF; 
    width: 150px; 
    height: 50px;
    margin-left: 40%;
}
.offre .envoyeroffre:hover{
    border: 1px solid #CE0033; 
    border-radius: 10px; 
    background: #FFFFFF; 
    color: #CE0033; 
    width: 150px; 
    height: 50px;
    margin-left: 40%;
}
input, textarea{
    box-shadow: 2px 2px 2px 4px #ecf0f1;
}
@media screen and (max-width: 900px) {
    .offre h2{
        margin-left: 18px;
        font-size: 20px;
        text-align: center;
    }
    .offre .envoyeroffre{
        margin-left: 100px;
    }
  }
/* ---------Partenaire-------- */

.partenaire h2{
    color: #CE0033; 
    margin-left: 40px; 
    margin-top: 30px;
    font-weight: bold;
}
.partenaire h3{
    font-weight: bold;
    font-size: 28px;
    margin-left: 30px;
}
.partenaire .barre{
    margin-left: 39px;
}
.partenaire .parh3{
    margin-left: 50px;
    padding-top: 34px;
}
.partenaire #partenaire1{
    width: 100%;
}
.partenaire #carouselExampleDark{
    width: 70%;
    margin-top: -340px;
    margin-left: 290px;
    
}
.partenaire #carouselExampleDark button{
    background: #CE0033; border-radius:10px;
    width: 20px; 
    height :2px;
}
.partenaire #carouselExampleDark span{
    margin-top: 90px;
    color: #CE0033;
    width: 90px;
}
.partenaire .d-block{
    height: 700px;
}

.partenaire .row h3{
    color: #CE0033;
    font-weight: bold;
    margin-left: -5px;
    font-size: 28px;
}
.partenaire span{
    margin-left: 30px;
    margin-top: 90px;
}
.partenaire .row p{
    line-height: 2;
    margin-left: 28px;
    font-size: 20px;
}
.partenaire .team{
    width: 90%;
    margin-left: 20px;
}
.partenaire #carouselExampleControls{
    

}

.partenaire .carousel-item h2{
    color: black;
    text-align: center;
    font-size: 18px;
    margin-left: 5px;
    margin-top: -20px;
}
.partenaire .row .cohorte{
    margin-left: 150px;
}
.partenaire .carousel-item .btn-parrainer{
    background: #CE0033;
    color: white;
    height: 45px;
    border: 1px solid #CE0033; 
    border-radius: 10px; 
    width: 120px;
    margin-left: 35%;
    font-size: 20px;
    position: static;
}
.partenaire #carouselExampleControls{
    width: 90%;
}
.carousel-inner .btn-parrainer{
    text-align: center
}
.carousel-inner .card-body h2{
    color: #CE0033;
    text-align: center
}
.partenaire .carousel-inner{
    width: 100%;
}

@media screen and (max-width: 600px) {
    .partenaire #carouselExampleControls{
        margin-left: 50px;
        width:10%
    }
   
}
@media screen and (max-width: 900px) {
    .partenaire #carouselExampleControls{
        margin-left: 0px;   
        width: 100%;
    }
    .partenaire .row .cohorte{
        margin-left: 0px;
        color: #Ce0033;
        width: 80%;
        font-size: 24px;
        margin-top: 80px;
    }
   
    .partenaire .carousel1{
        width: 144%;
        
        margin-left: -290px;
        margin-top: 200px;        
    }
    .partenaire .row p{
        margin-left: 2px;
    }
    .partenaire .carousel-caption{
        margin-top: 100px;
    }
    .partenaire .col-droite{
   
    } 
    .partenaire .team{
        margin-left:3px;
        width: 100%;
    }
    .partenaire .carousel-item .card-title{
        text-align: center
    }
    .carousel-inner .card-body{
        margin-left: 5px;
        margin-right: 5px;
    }
}
/* Partie Activite */
.activite h2{
    color: #000000;
    font-weight: bold;
    margin-left: 50px;
}
.activite .barre{
    margin-left: 50px;
}
.activite h3{
    color: #CE0033;
    font-weight: bold;
    margin-left: 30px;
    font-size: 28px;
}
.activite .row{
    margin-top: 20px;
    margin-left: 40px;
    font-size: 20px;
}
.activite .row p{
    line-height: 2;
    font-size: 24;
}
.activite .row .img-activite{
    width: 100%;
    height: 80%;
    margin-top: -60px;
}
.activite .row a{
    color: #CE0033;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    margin-left: 60%;
}
.activite .why{
    margin-top: -160px;
    font-size: 30px;
}
.activite .img-why{
    width: 80%;
    height: 80%;
}
.activite #h3-activite{
    font-size: 28px;
    font-weight: bold;
    margin-left: 40px;
}
.activite .row p{
    line-height: 2;
    font-size: 18px;
    margin-right: 50px;
}
.activite .row .img-check{
    width: 40px;
}
.activite .row .p1{
    margin-left: -40px;
}
@media screen and (max-width: 900px) {
    .activite .row p{
        margin-right: 2px;
    }
    .activite .row .img-activite{
        margin-top: 10px;
        height: 80%;
        width: 100%;
    }
    .activite .why{
        margin-top: 10px;
        margin-left: 5px;
    }
    .activite .row a{
        font-size: 18px;
        margin-left: 28px;
    }
    .activite .row {
        font-size: 18px;
        margin-left: 18px;
    }
    .activite #h3-activite{
        font-size: 20px;
    }
}

/* --------Comment participer-------- */
.comment-participer .h3-cp{
    color: #CE0033;
    font-weight: bold;
    margin-left: 30px;
    font-size: 30px;
}
.comment-participer .img-cercle{
    margin-left: 70%;
    width: 200px;
    margin-top: -80px;
}
.comment-participer .text-cercle{
    margin-left: 50px;
    line-height: 2;
    font-size: 18px;
    margin-top: -350px;
  
}
/* .comment-participer .btn-btn{
    margin-top: -200px;
    margin-left: 250px;
} */

.comment-participer .cercle-btn{
    background-color:#CE0033;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    font-style: bold;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 4px;
    width: 70px;
    height: 70px;
    margin-top: -60px;
    border-radius: 50%;
    margin-left: 40%;
}
.comment-participer .btn-01{
    border: 1px solid #CE0033;
    border-radius: 10px;
    width: 300px;
    height: 60px;
    background: #FFFFFF;
    margin-left: 42px;
}
.comment-participer .btn-01 .title-btn{
    color: #CE0033;
    font-size: 20px;
}
@media screen and (max-width: 900px) {
    .comment-participer .btn-btn{
        margin-left: 10px;
        margin-top: 40px;
    }
    .comment-participer .img-cercle{
        width: 0px;
        height: 0px;
    }
    .comment-participer .text-cercle{
        margin-top: 95px;
        margin-left: 2px;
    }
    .comment-participer .h3-cp{
        margin-left: 5px;
    }
  
  }
.projet{
    margin-top: 150px;
}
.projet h2{
    color: #000000; 
    margin-left: 40px; 
    margin-top: 30px;
    font-weight: bold;
}
.projet .barre{
    margin-left: 40px;
    width: 100px;
}
.projet .row h3 {
    color: #CE0033;
}
.projet .row {
    background-image: url("Images/bg-projet.png");
    margin-top: 20px;
}
.projet .row p{
    font-size: 20px;
    line-height: 2;
}
.projet .row .person-projet{
    width: 100%;
}
.projet .row span{
    color: #CE0033;
    font-size: 20px;
    font-weight: bold;
    margin-left: 40%;
}
@media screen and (max-width: 900px) {
    .projet .row h3 {
        margin-left: -32px;
        font-size: 24px;
    }
    .projet .row p{
        margin-left: -12px;
        line-height: 2;
    }
    .projet .row span{
        
        margin-left: 10%;
    }
  
  }
  /* ------------Temoignage ------*/
  .temoignage h3{
      text-align: center;
      color: #CE0033;
  }
  .temoignage .container-fluid{
      width: 80%;
  }
.temoignage .container-fluid #slide-btn{
    color: #CE0033;
    background-color: #CE0033;
}
.temoignage .container-fluid #slide-btn2{
    color: #CE0033;
    background-color: #CE0033;
}
.temoignage .container-fluid #slide-btn3{
    color: #CE0033;
    background-color: #CE0033;
}
  .temoignage .container-fluid .carousel-control-prev-icon{
    background-color: #CE0033;
    color: #CE0033;
  }

  .temoignage .container-fluid .carousel-control-next-icon{
    background-color: #CE0033;
    color: #CE0033;
  }
@media screen and (max-width: 900px) {
    .temoignage .container-fluid{
        width: 80%;
    }
  
  }
/* --------- FOOTER ---------- */
footer .container-fluid{
    background-image: url("Images/footer.png");
}

footer .row .list-unstyled a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 2;
}
.footer .row h5{
    color: #FFFFFF;

}
@media screen and (max-width: 900px) {
    footer .container-fluid{
        width: 100%;
    }
  
  }

  .footer{
      background: #000000;
      color: #FFFFFF;
  }